<a href="https://colab.research.google.com/github/Septianadaw/Struktur-Data/blob/main/WEEK_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Deklarasi array dengan menggunakan list
angka = [10, 20, 30, 40, 50]
print("Array dengan list:", angka)

Array dengan list: [10, 20, 30, 40, 50]

In [ ]:
import array
angka = array.array('i', [10, 20, 30, 40, 50])
print("Array dengan modul array:", angka)

Array dengan modul array: array('i', [10, 20, 30, 40, 50])

In [ ]:
import numpy as np
angka = np.array([10, 20, 30, 40, 50])
print("Array dengan numpy:", angka)

Array dengan numpy: [10 20 30 40 50]

In [ ]:
import numpy as np
angka = np.array([1, 2, 3, 4, 5])
print("Array satu dimensi:", angka)

Array satu dimensi: [1 2 3 4 5]

In [ ]:
import numpy as np
matriks = np.array([[1, 2], [3, 4], [5, 6]])
print("Array dua dimensi:", matriks)

Array dua dimensi: [[1 2]
 [3 4]
 [5 6]]

In [ ]:
array3D = np.array([[[1, 2], [3, 4]], [[5, 6], [7, 8]]])
print("Array tiga dimensi:", array3D)

Array tiga dimensi: [[[1 2]
  [3 4]]

 [[5 6]
  [7 8]]]

In [ ]:
# Deklarasi array kosong
angka = []
# Inisialisasi array dengan elemen
angka = [10, 20, 30, 40, 50]
# Akses elemen
print ("Elemen pertama:", angka[0])
print ("Elemen terakhir:", angka[-1])
#Menambahkan elemen baru
angka.append(60)
print ("Setelah append:", angka)
# Menghapus elemen
angka.remove (30)
print ("Setelah remove:", angka)
# Iterasi array
for nilai in angka:
    print ("Nilai:", nilai)

Elemen pertama: 10
Elemen terakhir: 50
Setelah append: [10, 20, 30, 40, 50, 60]
Setelah remove: [10, 20, 40, 50, 60]
Nilai: 10
Nilai: 20
Nilai: 40
Nilai: 50
Nilai: 60

LANGKAH PRAKTIKUM

In [ ]:
# Deklarasi array kosong
data =[]

# Inisialisasi array dengan elemen
angka = [10, 20, 30, 40, 50]

# Menampilkan isi array
print("Isi array angka:", angka)

Isi array angka: [10, 20, 30, 40, 50]

In [ ]:
# Latihan 1
Data = []
NPM = [2410506009, 2410506010, 2410506011, 2410506012, 2410506013]
print("isi NPM sebelum saya:")

for i in NPM:
  print(i)

isi NPM sebelum saya:
2410506009
2410506010
2410506011
2410506012
2410506013

In [ ]:
# Mengakses elemen Array
print("Elemen pertama:", angka[0]) # Elemen pertama
print("Elemen terakhir:", angka[-1]) # Elemen terakhir

Elemen pertama: 10
Elemen terakhir: 50

In [ ]:
# Menambah elemen menggunakan append()
angka.append(60)
print("Array setelah penambahan elemen:", angka)

Array setelah penambahan elemen: [10, 20, 30, 40, 50, 60]

In [ ]:
# Menambahkan elemen dengan menggunakan insert
angka.insert(2, 25) # Menyisipkan 25 di indeks ke-2
print("Array setelah penambahan elemen dengan insert:", angka)

Array setelah penambahan elemen dengan insert: [10, 20, 25, 30, 40, 50, 60]

In [ ]:
# Menghapus elemen dengan menggunakan remove()
angka.remove(25) # Menghapus angka 25
print("Array setelah menghapus elemen 25:", angka)

Array setelah menghapus elemen 25: [10, 20, 30, 40, 50, 60]

In [ ]:
# Menghapus elemen dengan menggunakan pop()
angka.pop(2) # Menghapus elemen pada indeks ke-2
print("Array setelah menghapus elemen pada indeks ke-2:", angka)

Array setelah menghapus elemen pada indeks ke-2: [10, 20, 40, 50, 60]

In [ ]:
# Mengubah elemen pada indeks 0
angka[0] = 100
print("Array setelah mengubah elemen pertama:", angka)

Array setelah mengubah elemen pertama: [100, 20, 40, 50, 60]

In [ ]:
# Latihan 2
angka.insert(2, 13)
angka.remove(20)
print("Array setelah penambahan elemen dengan insert:", angka)

Array setelah penambahan elemen dengan insert: [100, 13, 40, 50, 60]

In [ ]:
angka.pop(1)
print("Array setelah menghapus elemen pada indeks pertama:", angka)

Array setelah menghapus elemen pada indeks pertama: [100, 40, 50, 60]

In [ ]:
angka = (10, 20, 30, 40)
for nilai in angka:
  print("Nilai:", nilai)

Nilai: 10
Nilai: 20
Nilai: 30
Nilai: 40

In [ ]:
# Latihan 3
# Daftar fakultas di Untidar
fakultas = ["Fakultas Teknik", "Fakultas Pertanian", "Fakultas Ekonomi", "Fakultas Kegururan Ilmu Pendidikan", "Fakultas Ilmu Sosial dan Politik"]

# Menampilkan semua fakultas menggunakan perulangan
print("Daftar Fakultas di Untidar:")
for nama in fakultas:
    print(nama)

Daftar Fakultas di Untidar:
Fakultas Teknik
Fakultas Pertanian
Fakultas Ekonomi
Fakultas Kegururan Ilmu Pendidikan
Fakultas Ilmu Sosial dan Politik

In [ ]:
angka = (10, 20, 30, 40)

print("Jumlah total:", sum(angka))
print("Nilai maksimum:", max(angka))
print("Nilai minimum:", min(angka))

Jumlah total: 100
Nilai maksimum: 40
Nilai minimum: 10

In [ ]:
# Latihan 4
harga_barang = [100, 400, 200, 500]

print("Total harga barang:", sum(harga_barang))

Total harga barang: 1200

In [ ]:
# Deklarasi array 2D
matriks = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
# Menampilkan isi array 2D
print("isi array 2D") # Fixed: Removed extra spaces before print statement
for baris in matriks:
    print(baris)

isi array 2D
[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

In [ ]:
# Latihan 5
matriks = [
    [0, 2, 3, 1],
    [4, 7, 6, 4],
    [7, 8, 10, 7],
]

for baris in matriks:
    print(baris)

[0, 2, 3, 1]
[4, 7, 6, 4]
[7, 8, 10, 7]

In [ ]:
# Mengakses elemen pada baris
print("Elemen pada baris 1, kolom 2:", matriks[0][1])

# Mengakses elemen terakhir (baris ke-3, kolom ke-3)
print("Elemen terakhir:", matriks[-1][-1])

Elemen pada baris 1, kolom 2: 2
Elemen terakhir: 7

In [ ]:
# Latihan 6
print("Elemen pada baris 2, kolom 4:", matriks[1][3])

Elemen pada baris 2, kolom 4: 4

In [ ]:
# Menambahkan baris baru
matriks.append([10, 11, 12])
print("Array setelah menambahkan baris baru:", matriks)

Array setelah menambahkan baris baru: [[0, 2, 3, 1], [4, 7, 6, 4], [7, 8, 10, 7], [10, 11, 12]]

In [ ]:
# Menambahkan elemen pada baris ke-2
matriks[1].append(99)
print("Array setelah menambahkan elemen di baris ke-2:", matriks)

Array setelah menambahkan elemen di baris ke-2: [[0, 2, 3, 1], [4, 7, 6, 4, 99], [7, 8, 10, 7], [10, 11, 12]]

In [ ]:
# Latihan 7
matriks.append([1, 9, 20, 5])
print("Array setelah menambahkan baris baru:", matriks)

Array setelah menambahkan baris baru: [[0, 2, 3, 1], [4, 7, 6, 4, 99], [7, 8, 10, 7], [10, 11, 12], [1, 9, 20, 5]]

In [ ]:
# Menghapus elemen tertentu dari baris ke-1
matriks[0].remove(2)
print("Array setelah menghapus elemen 2 dari baris pertama:", matriks)

Array setelah menghapus elemen 2 dari baris pertama: [[0, 3, 1], [4, 7, 6, 4, 99], [7, 8, 10, 7], [10, 11, 12], [1, 9, 20, 5]]

In [ ]:
# Menghaous elemen pada indeks tertentu dari baris ke-2
matriks[1].pop(1)
print("Array setelah menghapus elemen indeks ke-1 dari baris ke-2:", matriks)

Array setelah menghapus elemen indeks ke-1 dari baris ke-2: [[0, 3, 1], [4, 6, 4, 99], [7, 8, 10, 7], [10, 11, 12], [1, 9, 20, 5]]

In [ ]:
# Latihan 8
matriks[4].pop(3)
print("Array setelah menghapus elemen ke-3 dari baris terakhir:", matriks)

Array setelah menghapus elemen ke-3 dari baris terakhir: [[0, 3, 1], [4, 6, 4, 99], [7, 8, 10, 7], [10, 11, 12], [1, 9, 20]]

In [ ]:
# Mengubah elemen pada baris ke-3, kolom ke-2
matriks[2][1] = 88
print("Array setelah mengubah elemen pada baris ke-3, kolom ke-2:", matriks)

Array setelah mengubah elemen pada baris ke-3, kolom ke-2: [[0, 3, 1], [4, 6, 4, 99], [7, 88, 10, 7], [10, 11, 12], [1, 9, 20]]

In [ ]:
# Latihan 9
matriks[4][2] = 14
print("Array setelah mengubah elemen baris ke-5, kolom ke-3:", matriks)

Array setelah mengubah elemen baris ke-5, kolom ke-3: [[0, 3, 1], [4, 6, 4, 99], [7, 88, 10, 7], [10, 11, 12], [1, 9, 14]]

In [ ]:
belanja = ["Beras", "Gula", "Minyak"]
belanja.append("Teh")
belanja.remove("Gula")
print("Daftar belanja terbaru:", belanja)

Daftar belanja terbaru: ['Beras', 'Minyak', 'Teh']

In [ ]:
# Latihan 10
belanja = ["Baju", "Celana", "Rok", "Jilbab"]
belanja.append("Tas")
belanja.append("Skincare")
belanja.append("Dimsum")
belanja.remove("Rok")
print("Daftar belanja terbaru:", belanja)

Daftar belanja terbaru: ['Baju', 'Celana', 'Jilbab', 'Tas', 'Skincare', 'Dimsum']